<div class=row>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Administración de pagos</h1>
    </div>
  </div>
</div>
<div *ngIf="Payments.length !== 0">
  <div class=row>
    <table class="table">
      <thead class="thead-light">
        <tr class="d-flex">
          <th class="col-3" scope="col">Cliente</th>
          <th class="col-3" scope="col">Fecha</th>
          <th class="col-3" scope="col">Motivo</th>
          <th class="col-3" scope="col">Monto</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let payment of Payments">
          <td class="col-3">{{payment.dtcliente.email}}</td>
          <td class="col-3">{{getStringDate(payment.fecha)}}</td>
          <td class="col-3">{{payment.motivo}}</td>
          <td class="col-3">{{payment.monto}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>