<div class=row>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Administración de viajes</h1>
    </div>
  </div>
</div>
<div *ngIf="Rides.length !== 0">
  <div class=row>
    <table class="table">
      <thead class="thead-light">
        <tr class="d-flex">
          <th class="col-3" scope="col">Inicio</th>
          <th class="col-3" scope="col">Fin</th>
          <th class="col-2" scope="col">Estado</th>
          <th class="col-2" scope="col">Scooter</th>
          <th class="col-2" scope="col">Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let ride of Rides">
          <td class="col-3">{{getStringDate(ride.fechainicio)}}</td>
          <td class="col-3">{{getStringDate(ride.fechafin)}}</td>
          <td class="col-2">{{ride.estado}}</td>
          <td class="col-2">{{ride.scooter.numeroserial}}</td>
          <td class="col-2">{{ride.cliente.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>