<div class=row>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Administración de viajes</h1>
    </div>
  </div>
</div>
<div *ngIf="Rides.length !== 0">
  <div class=row>
    <table class="table">
      <thead class="thead-light">
        <tr class="d-flex">
          <th class="col-4" scope="col"></th>
          <th class="col-7" scope="col"></th>
          <th class="col-1" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let ride of Rides">
          <td class="col-4"></td>
          <td class="col-7"></td>
          <th class="col-1"></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>