<div class="jumbotron">
    <h1 class="display-3-rew">Estilos</h1>
</div>
<section [ngClass]="{'loading':loading}">
    <div style="padding:20px;">
        <button type="button" class="btn btn-info" (click)="newItem()">Agregar</button>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Archivo</th>
                <th scope="col">-</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-default" *ngFor="let item of itemList">
                <td>{{item?.Name}}</td>
                <td>{{item?.CSS}}</td>
                <td><button (click)="edit(item)" type="button" class="btn btn-outline-info">Editar</button></td>
            </tr>
        </tbody>
    </table>
</section>
<app-look-and-feel-new *ngIf="showNew" (saveEvent)="saveEvent(e)" (cancelEvent)="cancelEvent(e)"></app-look-and-feel-new>
<app-look-and-feel-update *ngIf="showEdit" [item]="editedItem" (saveEvent)="saveEvent(e)" (cancelEvent)="cancelEvent(e)"></app-look-and-feel-update>