
$normalButtonColor: #797a7c;
$normalButtonBgColor: #FFF;
$normalButtonHoverBgColor: #EBEEF7;
$activeButtonColor: #EBEEF7;
$activeButtonBgColor: #1a2f6f;
$activeButtonHoverBgColor: #446EEF;

.errors input.form-control{
    color: red !important;
}
.styleWidth {
    width: 100%;
}

.styleHalfWidth {
    width: 50%;
    padding-right: 10px;
}

.styleHalfWidth2 {
    width: 50%;
    padding-left: 10px;
}

.body {
    margin: 30px;
}

.buttons {
    display: flex;
}

.actionButton {
    background-color: $activeButtonBgColor;
    color: $activeButtonColor;
}

.actionButton:hover {
    background-color: $activeButtonHoverBgColor;
    color: $activeButtonColor;
}

.normalButton, .actionButton:disabled {
    background-color: $normalButtonBgColor;
    color: $normalButtonColor;
    opacity:1;
}

.normalButton:hover, .actionButton:hover:disabled {
    background-color: $normalButtonHoverBgColor;
    color: $normalButtonColor;
    opacity:1;
}
