<div class=row>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Actualizar parametro - {{parameter.nombre}}</h1>
    </div>
  </div>
</div>
<div class=row>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
        <div class="form-label-group">
            <label for="value">Valor</label>
          <input type="text" class="form-control" placeholder="Valor" type="value" name="value" minlength="3" [(ngModel)]="parameter.valor" required>
        </div>
      <div class=action-group>
        <button type="submit" class="btn btn-danger" routerLink="/admin/parameters">Cancelar</button>
        <button type="submit" class="btn btn-success" (click)="open(content)">Crear</button>
      </div>
    </div>
  </div>
</div>
<!--Template model-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmación</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <p>¿Esta seguro de que desea hacer eso?</p>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('no')">No</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('yes');update()">Si</button>
  </div>
</ng-template>