
$normalButtonColor: #797a7c;
$normalButtonBgColor: #FFF;
$normalButtonHoverBgColor: #EBEEF7;
$activeButtonColor: #EBEEF7;
$activeButtonBgColor: #1a2f6f;
$activeButtonHoverBgColor: #446EEF;

label {
    margin: unset !important;
}

.errors input.form-control{
    color: red !important;
}
.styleWidth {
    width: 100%;
    margin-top: 15px;
}

.styleWidthFlex {
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    & div {
        flex: 3 1 auto;
    }
    & label {
        flex: 1 2 auto;
        min-width: 80px;
    }
}

.styleHalfWidth, .styleHalfWidth2 {
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    & div {
        flex: 3 1 auto;
    }
    & label {
        flex: 1 2 auto;
        min-width: 80px;
    }
}

.styleHalfWidth {
    padding-right: 15px;
}

.styleHalfWidth2 {
    padding-left: 15px;
}

.body {
    margin: 30px;
}

.buttons {
    display: flex;

    & #close {
        margin-left: auto;
        margin-right: 10px;
    }
}

.actionButton {
    background-color: $activeButtonBgColor;
    color: $activeButtonColor;
}

.actionButton:hover {
    background-color: $activeButtonHoverBgColor;
    color: $activeButtonColor;
}

.normalButton, .actionButton:disabled {
    background-color: $normalButtonBgColor;
    color: $normalButtonColor;
    opacity:1;
}

.normalButton:hover, .actionButton:hover:disabled {
    background-color: $normalButtonHoverBgColor;
    color: $normalButtonColor;
    opacity:1;
}

div.row {
    margin: 30px;
}

.subpage-title {
    display: flex;
    & span {
        margin: auto;
        font-size: -webkit-xxx-large;
    }
}