<div class="modal-alert" tabindex="-1" role="dialog">
  <div>
      <!-- Modal content -->
      <div class="modal-alert-content">
          <div class="modal-alert-header">
              <h3>Estilos</h3>
          </div>
          <div class="modal-alert-body">
            <form [formGroup]="formGroup">
            <div class="form-group " class="styleWidth" >
                <label class="bold-content" for="name">Nombre
                </label>
                <div  >
                    <input type="text" [formControlName]="'name'" 
                    class="form-control "
                      id="name" autocomplete="off" 
                      placeholder="Nombre" />
                </div>
              </div>
          
              <div class="form-group " class="styleWidth" >
                <label class="bold-content" for="name">Archivo
                </label>
                <div  >
                    <input type="text" [formControlName]="'css'" 
                    class="form-control "
                      id="css" autocomplete="off" 
                      placeholder="Archivo.css" />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-alert-footer">
              <button (click)="cancelar()" type="button" class="btn btn-danger">
                  Cancelar
                </button>
              <button (click)="guardar()" [disabled]="saveDisabled" type="button" class="btn btn-success">
                Crear
              </button>              
          </div>
      </div>
  </div>
</div>
