<div class="card">
  <div class="card-body">
    <div style="text-align:center">
      <h4 class="card-title">Ya te lo llevo</h4>
      <h6 class="card-subtitle mb-2 text-muted">Administración</h6>
    </div>
    <form>
      <fieldset>
        <div class="form-group">
          <label class="col-form-label" for="email">Correo electronico</label>
          <input class="form-control" type="email" name="userEmail" [(ngModel)]="userEmail" required="email"
            #userEmailVar="ngModel" class="form-control" placeholder="Correo">
        </div>

        <div class="form-group">
          <label class="col-form-label" for="password">Clave</label>
          <input type="password" name="password" [(ngModel)]="password" #passwordVar="ngModel" class="form-control"
            placeholder="Clave" required>
        </div>

        <button type="button" class="btn btn-primary btn-block" (click)="logRegularUser()">Iniciar sesión</button>

      </fieldset>
    </form>
  </div>
</div>