<div class="container custom-container-2">

  <div class="no-data text-center" *ngIf="Scans.length == 0">
    <p>No hay scans!</p>
  </div>

  <!-- Employees list table, it hides when there is no employee -->
  <div *ngIf="Scans.length !== 0">
    <h3 class="mb-3 text-center">Scan List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let scan of Scans">
            <td>{{scan.id}}</td>
            <td>{{scan.fecha}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>