<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Ya Te Lo Llevo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" (click)="LogOut()">
        <a class="nav-link" href="#">Salir</a>
      </li>
      <li *ngIf="store==true"  class="nav-item" routerLink="/main/dashboard">
        <a class="nav-link">Mis Tiendas</a>
      </li>
      <li *ngIf="store==true"  class="nav-item" routerLink="/main/product">
        <a class="nav-link">Productos</a>
      </li>
      <li *ngIf="admin==true"  class="nav-item" routerLink="/main/register">
        <a class="nav-link">Nuevo usuario</a>
      </li>
      <li *ngIf="store==true" class="nav-item" routerLink="/main/state">
        <a class="nav-link">Estados</a>
      </li>
      <li *ngIf="store==true" class="nav-item" routerLink="/main/buy">
        <a class="nav-link">Ordenes</a>
      </li>
      <li *ngIf="admin==true" class="nav-item" routerLink="/administration/lookandfeel">
        <a class="nav-link">Estilos</a>
      </li>
      <li *ngIf="admin==true" class="nav-item" routerLink="/administration/item">
        <a class="nav-link">Rubros</a>
      </li>
      <li *ngIf="store==true" class="nav-item" routerLink="/administration/category">
        <a class="nav-link">Categorias</a>
      </li>
      <li *ngIf="admin==true" class="nav-item" routerLink="/administration/income">
        <a class="nav-link">Ganancias</a>
      </li>
      <li *ngIf="store==true" class="nav-item" routerLink="/main/income">
        <a class="nav-link">Ganancias</a>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="showPageLoader" class="modal-alert" tabindex="-1" role="dialog">
  <div class="modal-alert-content loader">
    <i class="fa fa-spinner fa-spin"></i>Cargando ...
  </div>
</div>

<router-outlet></router-outlet>
