<div *ngIf="message" class="modal-alert" tabindex="-1" role="dialog">
  <div *ngIf="message?.type == 'confirm'">
      <!-- Modal content -->
      <div class="modal-alert-content">
          <div class="modal-alert-header">
              <h3>Confirmar</h3>
          </div>
          <div class="modal-alert-body">
              <i class=" fa fas fa-exclamation-triangle fa-lg"></i>
              <p class="">{{message.text}}</p>
          </div>
          <div class="modal-alert-footer">
              <a (click)="message.yesFn()" class="alert-buttons accept">
                OK
              </a>
              <a (click)="message.noFn()" class="alert-buttons cancel">
                Cancelar
              </a>
          </div>
      </div>
  </div>
</div>
