/* Modal Content */
.modal-alert { /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*#FEC63D*/
}

/* Modal Content */
.modal-alert-content {
    background-color: white;
    color: grey;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow:3px 3px 10px lightgray, -3px 0 10px lightgray;
    width: 400px;
    min-width: 270px;
}
.modal-alert-header {
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.modal-alert-header h3 {
    margin: 0;
}
.modal-alert-body {
    display: flex;
    margin-bottom: 1.8rem;
}

.modal-alert-footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: .6rem;
}

.alert-buttons {
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;

    &.accept {
        background-color: blue; /* Green */
        color: white;
        
    }
    &.accept:hover {
        background-color: darkblue;
        color: white;
        transition: .2s;
    }
    &.cancel {
        border: 1px solid lightgray; 
        color: lightgray;
        transition: .2s;
    }
    &.cancel:hover {
        background-color: lightgray;
        color: white;
        transition: .2s;
    }
}
.fas {
    color: orange;
    margin-right: 1rem;
}