<div id="menuToggle">
    <input type="checkbox" />
  <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
      <a><li class="menu-item" routerLink="/main/dashboard">Mis Tiendas</li></a>
      <a><li class="menu-item" routerLink="/main/tienda/new">Nueva Tienda</li></a>
      <a><li class="menu-item" routerLink="/main/product">Productos</li></a>
      <a><li class="menu-item" routerLink="/main/state">Estados</li></a>
      <a><li class="menu-item" routerLink="/main/register">Admin Tienda</li></a>
      <a><li class="menu-item" routerLink="/main/preferences">Preferences</li></a>
      <a><li class="menu-item" routerLink="/administration/lookandfeel">Estilos</li></a>
      <a><li class="menu-item" routerLink="/administration/item">Rubros</li></a>
      <a><li class="menu-item" routerLink="/administration/category">Categorias</li></a>
    </ul>
  </div>