<div class=row>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Nuevo scooter - {{scooter.serial}}</h1>
    </div>
  </div>
</div>
<div class=row>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p><strong>Ubicación: </strong> {{scooter.latitud}},{{scooter.longitud}}</p>
      <p><strong>Bateria: </strong> {{scooter.bateria}}%</p>
      <p><strong>¿Encendido?: </strong>{{scooter.encendido}}</p>
    </div>
  </div>
</div>