<div class=row>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Administración de usuarios</h1>
    </div>
  </div>
</div>
<div *ngIf="Users.length !== 0">
  <div class=row>
    <table class="table">
      <thead class="thead-light">
        <tr class="d-flex">
          <th class="col-4" scope="col">Nombre completo</th>
          <th class="col-4" scope="col">Correo</th>
          <th class="col-4" scope="col">Saldo</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let user of Users">
          <td class="col-4">{{user.nombre}} {{user.apellido}}</td>
          <td class="col-4">{{user.email}}</td>
          <td class="col-4">{{user.saldo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>