<div class="jumbotron">
  <h1 class="display-3-rew">Tiendas</h1>
</div>
<section [ngClass]="{'loading':loading}">
  <div style="padding:20px;">
    <button type="button" class="btn btn-info" (click)="newTienda()">Agregar</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">URL</th>
        <th scope="col">Mail</th>
        <th scope="col">Puntaje promedio</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-default" *ngFor="let tienda of tiendas">
        <td>{{tienda?.Name}}</td>
        <td><a href="http://{{tienda?.URL}}.yatelollevo.ga/#/main/dashboard" target="_blank">{{tienda?.URL}}</a></td>
        <td>{{tienda?.Mail}}</td>
        <td>{{tienda?.AverageScore}}</td>
        <td><button (click)="edit(tienda)" type="button" class="btn btn-sm btn-outline-info">Editar</button></td>
        <td><button (click)="Delete(tienda)" type="button" class="btn btn-danger">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</section>

<div class="modal" style="display:inline" tabindex="-1" role="dialog" *ngIf="showEdit">
  <div class="modal-dialog" role="document">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Tienda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDialog('')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="subpage-title col-12">

          <div class="form-group">
            <label class="col-form-label" for="Nombre">Nombre Tienda</label>
            <input type="text" [(ngModel)]="tiendaEdit.Name" class="form-control" placeholder="Nombre Tienda" id="Nombre">
          </div>
          <div class="form-group">
            <label class="col-form-label" for="Descripcion">Descripcion Tienda</label>
            <input type="text" [(ngModel)]="tiendaEdit.Description" class="form-control" placeholder="Descripcion Tienda" id="Descripcion">
          </div>

          <div class="form-group" class="styleHalfWidth" >
            <label class="col-form-label" for="URL">URL tienda</label>
            <input type="text" [(ngModel)]="tiendaEdit.URL" class="form-control" placeholder="URL tienda" id="URL">
          </div>
          <div class="form-group" class="styleHalfWidth2" >
            <label class="col-form-label" for="Mail">Mail tienda</label>
            <input type="text" [(ngModel)]="tiendaEdit.Mail" class="form-control" placeholder="Mail tienda" id="Mail">
          </div>
          <div class="form-group">
            <label class="col-form-label" for="Telephone">Telefono tienda</label>
            <input type="text" [(ngModel)]="tiendaEdit.Telephone" class="form-control" placeholder="Telefono tienda" id="Telephone">
          </div>

        <form [formGroup]="tiendaFG">
          <div class="form-group " class="styleHalfWidth2">
            <label class="bold-content" for="lookAndFeelId">Estilo
              <i class="fa fa-asterisk" aria-hidden="true"></i>
            </label>
            <div class="input-group">
              <select class="form-control" [formControlName]="'lookAndFeelId'" id="lookAndFeelId" autocomplete="off">
                <option *ngFor="let item of lookAndFeelItems" value="{{item.Id}}"> {{item.Name}}</option>
              </select>
            </div>
          </div>
        </form>
            <br>
          <div class="modal-alert-footer">
            <button (click)="closeDialog('')" type="button" class="btn btn-danger">
              Cancelar
            </button>
            <button (click)="Update()" [disabled]="saveDisabled" type="button" class="btn btn-success">
              Actualizar
            </button>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>