<div class="jumbotron">
  <h1 class="display-3-rew">Registro de nuevo administrador</h1>
</div>
<div style="padding:20px;max-width:900px;margin:0 auto;">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label for="firstName">Nombre</label>
        <input type="text" [(ngModel)]="firstName" required="firstName" #userFirstNameVar="ngModel" class="form-control"
          id="firstName" aria-describedby="firstName" placeholder="Nombre">
      </div>

      <div class="form-group">
        <label for="lastName">Apellido</label>
        <input type="text" name="lastName" [(ngModel)]="lastName" required="lastName" #userLastNameVar="ngModel" class="form-control"
          id="lastName" aria-describedby="lastName" placeholder="Apellido">
      </div>

      <div class="form-group">
        <label for="email">Correo electronico</label>
        <input type="email" [disabled]="isSocialUser" name="userEmail" [(ngModel)]="userEmail" required="email"
          #userEmailVar="ngModel" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Correo">
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" [disabled]="isSocialUser" name="password" [(ngModel)]="password" #passwordVar="ngModel"
          class="form-control" id="password" aria-describedby="password" placeholder="Contraseña">
      </div>

      <input type="button" class="btn btn-primary" value="Crear" (click)="registerUser()" />
    </div>
  </div>
</div>